<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>
  <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">

    <% include ../helpers/navbar %>
    
    <h1>Home</h1>
  </div>

  <p>Clicca il pulsante per diventare un uomo di cultura</p>

  <button onClick="showPicture()" class="btn btn-dark">Chiama Aldo</button>

  <div id="image"></div>
  
</body>

</html>